<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h4 class="section-title">Our Services</h4>
      <h1 class="display-5 mb-4">
        We Focus on Modern Architecture, Structure Construction, and Interior
        Design Excellence.
      </h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-1.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-5.png"
              alt="Icon"
            />
            <h3 class="mb-3">Architecture</h3>
            <p class="mb-4">
              Innovative Architectural Designs Merging Aesthetics,
              Sustainability, Functionality, and Vaastu Wisdom for Harmonious,
              Enriching Spaces
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-2.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-6.png"
              alt="Icon"
            />
            <h3 class="mb-3">3D Animation</h3>
            <p class="mb-4">
              Advanced 3D Animation: Realistic Previews for Detailed
              Exploration, Confident Decisions, and Transparent Design
              Experiences
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-3.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-7.png"
              alt="Icon"
            />
            <h3 class="mb-3">House Planning</h3>
            <p class="mb-4">
              Efficient House Planning: Maximizing Space, Enhancing Natural
              Light, and Creating Functional, Comfortable Homes for You
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-4.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-8.png"
              alt="Icon"
            />
            <h3 class="mb-3">Interior Design</h3>
            <p class="mb-4">
              Inspiring Interior Design: Balancing Aesthetics and Functionality
              to Create Personalized, Inviting, and Efficient Spaces
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-5.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-9.png"
              alt="Icon"
            />
            <h3 class="mb-3">Modular Kitchen & Bathroom Design</h3>
            <p class="mb-4">
              Innovative Modular Kitchen & Bathroom Designs: Maximizing Space,
              Functionality, and Style with Customizable, Modern Solutions
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-6.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-10.png"
              alt="Icon"
            />
            <h3 class="mb-3">Construction</h3>
            <p class="mb-4">
              High-Quality Construction Services: Precision, Durability, and
              Timely Completion for Residential and Commercial Projects
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
