<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h4 class="section-title">Our Services</h4>
      <h1 class="display-5 mb-4">
        We Focus on Modern Architecture, Structure Construction, and Interior
        Design Excellence.
      </h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-1.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-5.png"
              alt="Icon"
            />
            <h3 class="mb-3">Architecture</h3>
            <p class="mb-4">
              We specialize in innovative architectural designs that seamlessly
              blend aesthetics, functionality, and sustainability to create
              spaces tailored to your unique lifestyle. We also incorporate the
              principles of Vaastu Shastra into our designs, ensuring harmonious
              and balanced environments that promote positivity, well-being, and
              prosperity. Our approach combines modern design with ancient
              wisdom to deliver spaces that are both beautiful and enriching.
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-2.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-6.png"
              alt="Icon"
            />
            <h3 class="mb-3">3D Animation</h3>
            <p class="mb-4">
              We use advanced 3D animation to bring your vision to life with
              realistic previews, allowing you to explore every detail. This
              immersive tool ensures a clear understanding of the design,
              helping you make confident decisions for a satisfying and
              transparent experience.
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-3.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-7.png"
              alt="Icon"
            />
            <h3 class="mb-3">House Planning</h3>
            <p class="mb-4">
              We focus on efficient layouts, maximizing space, and enhancing
              natural light to create functional, comfortable homes tailored to
              your lifestyle.
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-4.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-8.png"
              alt="Icon"
            />
            <h3 class="mb-3">Interior Design</h3>
            <p class="mb-4">
              We create inspiring and functional interiors that reflect your
              style and enhance your lifestyle. From space planning to furniture
              selection, our designs balance aesthetics and practicality,
              ensuring every space feels inviting, efficient, and personalized.
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-5.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-9.png"
              alt="Icon"
            />
            <h3 class="mb-3">Modular Kitchen & Bathroom Design</h3>
            <p class="mb-4">
              We deliver innovative modular kitchen and bathroom designs that
              maximize space and functionality. With customizable features and
              modern finishes, we create efficient, stylish solutions tailored
              to your needs, enhancing both the look and practicality of your
              home.
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex position-relative text-center h-100">
          <img class="bg-img" src="../../../assets/img/service-6.jpg" alt="" />
          <div class="service-text p-5">
            <img
              class="mb-4"
              src="../../../assets/img/icons/icon-10.png"
              alt="Icon"
            />
            <h3 class="mb-3">Construction</h3>
            <p class="mb-4">
              We deliver high-quality construction services with a focus on
              precision, durability, and timely completion. From residential to
              commercial projects, we ensure every detail is carefully managed,
              bringing your vision to life with expert craftsmanship and
              reliable execution.
            </p>
            <a class="btn" href=""
              ><i class="fa fa-plus text-primary me-3"></i>Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
