<!-- Testimonial Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto mb-5 wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 600px"
    >
      <h4 class="section-title">Testimonial</h4>
      <h1 class="display-5 mb-4">
        Thousands Of Customers Who Trust Us And Our Services
      </h1>
    </div>
    <div class="row g-4">
      <!-- Testimonial 1 -->
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="testimonial-item text-center">
          <img
            class="img-fluid mb-3 rounded-circle"
            src="../../../assets/img/testimonial-1.jpg"
            alt="Client"
            style="width: 100px; height: 100px"
          />
          <p class="fs-5">
            "From the initial consultation to the final touches, the entire
            process was seamless. The team exceeded our expectations and
            delivered a beautifully crafted home. We’re so pleased with the
            quality and attention to detail!"
          </p>
          <h3>Anwar & Fatima S.</h3>
          <span class="text-primary">Homeowners</span>
        </div>
      </div>
      <!-- Testimonial 2 -->
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="testimonial-item text-center">
          <img
            class="img-fluid mb-3 rounded-circle"
            src="../../../assets/img/testimonial-2.jpg"
            alt="Client"
            style="width: 100px; height: 100px"
          />
          <p class="fs-5">
            "The design and construction of our new office space was handled
            with utmost professionalism. The final result is modern, functional,
            and truly reflects our brand. We couldn’t be happier with the
            outcome."
          </p>
          <h3>Dr. Shivam Tiwari</h3>
          <span class="text-primary">Business Owner</span>
        </div>
      </div>
      <!-- Testimonial 3 -->
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="testimonial-item text-center">
          <img
            class="img-fluid mb-3 rounded-circle"
            src="../../../assets/img/testimonial-3.jpg"
            alt="Client"
            style="width: 100px; height: 100px"
          />
          <p class="fs-5">
            "Absolutely love our new home! The design team was amazing at
            understanding our vision and turning it into reality. They guided us
            through every step, and the construction was flawless. Highly
            recommend!"
          </p>

          <h3>Aarif & Sumera P.</h3>
          <span class="text-primary">Homeowners</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
